# Discord bot configuration
DISCORD_BOT_TOKEN="YOURBOTTOKENHERE" # The discord bot token. (THIS IS REQUIRED TO RUN THE BOT!)
DISCORD_BOT_ID="YOURBOTIDHERE" # The discord bot id. (THIS IS REQUIRED TO PUBLISH COMMANDS!)

# Meeny configuration
MEENY_WATCH_LIST=[] # A watchlist tracks what users do in the logs via console.log in the command files, it is recommended that you get the user's permission first or at least a heads up. (Optional)
MEENY_BAN_LIST=[] # A banlist that disallows usage of this bot, you can leave this empty like [] to disable any bans. (Optional)
MEENY_BAN_MESSAGE="" # Message to send if the user is on the ban list. (Optional) (Remove this or leave it blank to use the default)
